:root {
    height: 100%;

    // Buttons
    --button-bg: #fff;
    --button-color: #333;
    --button-padding: 8px;
    --button-radius: 5px;
    --inner-button-box-shadow: inset 0 4px 5px 0 rgba(0, 0, 0, 0.18);

    // Cards
    --card-box-shadow: -1px 15px 30px -12px #333;
    --card-bg: #fff;
    --card-color: #333;
    --card-accent-color: #d9e72c;

    // Navbar
    --nav-bg: #fff;
    --nav-link-color: #333;
    --inner-nav-box-shadow: inset 0 4px 5px 0 rgba(0, 0, 0, 0.18);
    --nav-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.18);
    --nav-color: #333;
}
