:root {
    input[type='text'] {
        height: 40px;
        border-radius: 40px;
        padding: 0 30px;
        background-color: #e9e9e9;
        border: none;
    }

    .search-label {
        position: relative;
        &:before {
            content: '';
            position: absolute;
            left: 10px;
            top: 0;
            bottom: 0;
            width: 15px;
            background: url('../assets/search/search.svg') center / contain no-repeat;
        }
    }
}
