@import '../../styles/colors.scss';
@import '../../styles/variables.scss';

.wrapper {
    background-color: var(--nav-bg);
    box-shadow: var(--nav-box-shadow);
    margin-bottom: 10px;
    height: $navbar-height;
    display: flex;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 100;

    .logo {
        display: flex;
        align-items: center;
        margin-left: 10px;

        a {
            color: var(--nav-color);
            font-weight: bold;
            font-size: 1.5vh;
            text-decoration: none;

            .fb-logo {
                width: 40px;
                height: 40px;
            }
        }

        .fb-arrow {
            width: 40px;
            height: 40px;
            align-items: center;
            display: flex;
            justify-content: center;
            z-index: 100;
        }

        .autocomplete {
            position: relative;
            display: inline-block;
            width: 300px;
            z-index: 100;
        }

        .autocomplete-items {
            position: absolute;
            border-bottom: none;
            border-top: none;
            z-index: 99;
            top: 0;
            left: 0;
            right: 0;
            border-radius: 0 0 10px 10px;
            box-shadow: var(--nav-box-shadow);
            width: 300px;
        }

        .autocomplete-items div {
            margin: 10px;
            padding: 5px;
            cursor: pointer;
            height: 35px;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            span {
                width: 100%;
            }

            img {
                height: 15px;
                width: 15px;
            }
        }

        .autocomplete-items div:not(:first-child):hover {
            background-color: #e9e9e9;
        }

        .search-input {
            z-index: 99;
            outline: none;
        }
    }

    .main-nav {
        height: $navbar-height;
        width: $navbar-width;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        & > * {
            flex: 1;
        }

        .menu {
            font-size: 1.5vh;
            list-style: none;
            display: flex;
            justify-content: center;
            padding: 0;
            align-items: center;
            margin: 0;
            a {
                text-decoration: none;
                color: var(--nav-color);
                font-weight: lighter;
                height: 100%;

                li {
                    display: flex;
                    align-items: center;
                    height: 100%;
                    padding: 0 60px;
                    border-radius: 10px;

                    &:first-of-type {
                        margin-left: 0;
                    }
                    &:last-of-type {
                        margin-right: 0;
                    }

                    &:hover {
                        box-shadow: var(--inner-nav-box-shadow);
                    }

                    .menu-logo {
                        height: 25px;
                        width: 25px;
                    }
                }
            }
        }
    }

    .account {
        display: flex;
        align-items: center;
        margin-right: 10px;
        width: 340px;
        justify-content: flex-end;
        .menu-logo {
            height: 40px;
            width: 40px;
            border-radius: 25px;
        }
    }
}
