.home-banner {
    position: relative;
    height: 500px;
    overflow: hidden;
    display: flex;
    padding: 50px;

    div {
        width: 50%;

        &.landing-text {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            h1 {
                white-space: nowrap;
            }

            .link {
                margin-top: 20px;
            }
        }

        &.landing-img {
            border-radius: 10px;
            box-shadow: var(--card-box-shadow);
        }
    }
}
